* {
  box-sizing: border-box;
}

.container {
	margin: 10px auto;
	display: flex;
	border: 2px solid black;
	min-height: 500px;
	max-width: 800px;
}

.center {
  text-align: center;
}

.one {
  max-height: 50%;
  width: 100%;
}

.two {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-left: 2px solid black;
}


.onesandtwo{
	display: flex;
	min-height: 200px;
}

.inner{
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 100%;
}

.box {
  border: solid;
  opacity:0.8
}

#b1t, #b1b {
  width: 100px;
  height: 100px;
}

#b2 {
  width: 200px;
  height: 200px;
}

#b3 {
  width: 300px;
  height: 300px;
}

#b5 {
  width: 500px;
  height: 500px;
}
